body{
    margin: 0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*navigation-bar*/
.nav-bar{
    display: flex;
    size: 100%;
    flex-direction: row;
    border: 1px solid black;
    background-color: white;

}
.nav-bar .nav-logo{
    display: flex;
    padding:0 50px;
    justify-content: center;
    align-items: center;
}
.nav-bar .right-side{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 20px;
    padding-top: 10px;
    padding: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-link.btn a{
    border: 1px solid black;
    border-radius: 5px;
}
.nav-link a{
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
}

/*Hero section*/


.hero-section{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    background-image: url(/assets/pexels-vikashkr50-19566202.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-section .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;
}
.hero-content .message{
    display: flex;
    width: 100%;
    justify-content: flex-start;

}

.hero-content .message .title{
    font-size: 50px;
    color: white;
}
.hero-section .hero-content .search-bar{
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #E5E5E5;
    width:100%;
    justify-content: space-evenly;
}
.hero-content .search-bar input{
    padding: 10px 30px;
    margin-left: 10px;
    border-radius: 5px;
}
.search-bar .search-btn input{
    background-color: #006ED6;
    color: white;
    border: none;
    border-radius: 20px;

}
/*product section*/
.product{
    display:flex;
    flex-direction: column;
    padding: 20px;
    max-width: 100%;
    height: 200vh;
}
.product .first-cards{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product .first-cards .register-banner{
    background-color: rgb(2, 2, 67);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 5px;
}
.register-banner .left-side{
    color: white;
}
.register-banner .right-side a{
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(43, 43, 247);
    border-radius: 10px;

}
.first-cards .cards{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.first-cards .cards .card{
    display: flex;
    width: 32%;
    margin-top: 20px;
}
.card .left{
    width: 50%;
    background-color: rgb(43, 43, 247);
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
}
.card .left .text{
    width: 100%;
    color: white;

}
.card .image{
    width: 50%;
    background-size: cover;
    border-radius: 0px 5px 5px 0px;
}

.card.two .image{
    background-image: url(/assets/WhatsApp\ Image\ 2025-06-20\ at\ 14.00.46_a3483674.jpg);
}
.card.one .image{
    background-image: url(/assets/WhatsApp\ Image\ 2025-06-20\ at\ 14.00.47_67273250.jpg);
}
.card.three .image{
    background-image: url(/assets/WhatsApp\ Image\ 2025-06-20\ at\ 14.00.47_f53270e6.jpg);
}

/*accommodation*/
.accommodation{
    display: flex;
}
.accommodations .text p{
    font-size: 30px;
}
.accommodations .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.accommodations .cards .card{
    background-image: url(/assets/pexels-olia-danilevich-8562070.jpg);
    width: 17%;
    height: fit-content;
    padding-top: 19%;
    background-size: cover;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
}
/*trips*/
.trips{
    display: flex;
    flex-direction: column;
}
.trips .trips-cards{
    display: flex;
    justify-content: space-between;
}
.trips-cards .trip-card .image{
    width: 100%;
    border: 1px solid blue;
    height: 50%;
    background-image: url(/assets/pexels-olia-danilevich-8562070.jpg);
    background-size: cover;
    border-radius: 5px;

}
.trips .title{
    display: flex;
    flex-direction: column;

}
.trips .title .title{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 1%;
}
.trip-card .contents{
    display: flex;
    flex-direction: column;
}
.contents .content.one{
    display: flex;
    align-items: center;
    height: max-content;
}
.content.one .rating{
    padding: 5px;
    background-color: #227950;
    border-radius: 5px;
    color: white;
}
.content.two .title{
    font-size: 16px;
    font-weight: bold;
}
.content.three .title{
    font-size: 30px;
    font-weight: bold;
    height: auto;
}
.content.two .title{
    padding: 0;
    width: 70%;
}
/*holiday section*/
.holidays{
    display: flex;
    display: none;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
}
