body{
    margin: 0;
    padding:0;
    font-family:  Verdana, sans-serif;
    color: #191E3B;
}
/*navigation-bar*/
.nav-bar{
    display: flex;
    size: 100%;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid black;
    background-color: white;
    padding: 10px  0;

}
.nav-bar .nav-logo{
    display: flex;
    padding:0 50px;
    justify-content: center;
    align-items: center;
}
.nav-bar .right-side{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-right: 20px;
    padding-top: 10px;
    padding: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.nav-link a{
    display: flex;
    font-size: 14px;
    line-height: 1.125rem;
    flex-direction: row;
    padding-right: 5px;
    text-decoration: none;
}

.nav-link.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
    padding: 4px 4px;
}
.nav-link.btn svg{
    color: #006ED6;
}

/*Hero section*/


.hero-section{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    background-image: url(/assets/pexels-olia-danilevich-8562070.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-section .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;
}
.hero-content .message{
    display: flex;
    width: 100%;
    justify-content: flex-start;

}

.hero-content .message .title{
    font-size: 30px;
    color: white;
}
.hero-section .hero-content .search-bar{
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #E5E5E5;
    width:100%;
    justify-content: space-evenly;
}
.hero-content .search-bar input{
    padding: 10px 30px;
    margin-left: 10px;
    border-radius: 5px;
}
.search-bar .search-btn input{
    background-color: #006ED6;
    color: white;
    border: none;
    border-radius: 20px;

}
/*product section*/
.product{
    display:flex;
    flex-direction: column;
    padding: 5%;
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}
.product .first-cards{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product .first-cards .register-banner{
    background-color: #191E3B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
}
.register-banner .left-side{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-banner .left-side svg{
    background-color: #006ed6;
    border-radius: 50%;
    padding: 6px;
    margin-right: 20px;
}
.register-banner .right-side a{
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: rgb(43, 43, 247);
    border-radius: 10px;

}
.first-cards .cards{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.first-cards .cards .card{
    display: flex;
    width: 32%;
    margin-top: 20px;
}
.card .left{
    width: 50%;
    background-color: rgb(43, 43, 247);
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
}
.card .left .text{
    width: 100%;
    height: 80%;
    color: white;
    margin-bottom: 3%;

}
.left .text p{
    margin: 0px;
}
.left .btn a{
    text-decoration: none;
    color: white;
}
.card .image{
    width: 50%;
    background-size: cover;
    border-radius: 0px 5px 5px 0px;
}

.card.two .image{
    background-image: url(/assets/WhatsApp\ Image\ 2025-06-20\ at\ 14.00.46_a3483674.jpg);
}
.card.one .image{
    background-image: url(/assets/WhatsApp\ Image\ 2025-06-20\ at\ 14.00.47_67273250.jpg);
}
.card.three .image{
    background-image: url(/assets/WhatsApp\ Image\ 2025-06-20\ at\ 14.00.47_f53270e6.jpg);
}

/*accommodation*/
.accommodation{
    display: flex;
    border: 1px solid black;
}
.accommodations .text p{
    font-size: 30px;
}
.accommodations .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.accommodations .cards .card{
    background-image: url(/assets/pexels-olia-danilevich-8562070.jpg);
    width: 17%;
    height: fit-content;
    padding-top: 19%;
    background-size: cover;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
}
.card .content p{
    font-weight: bold;
}
/*trips*/
.trips { 
    display: flex;
    flex-direction: column;
    padding: 5% 0;
}
.trips .trips-cards {
    display: flex;
    justify-content: space-between;
}
.trips-cards .trip-card .image {
    width: 100%;
    height: 150px;
    background-image: url(/assets/pexels-olia-danilevich-8562070.jpg);
    background-size: cover;
    border-radius: 5px;
}
.trips .title {
    display: flex;
    flex-direction: column;
}
.trips-cards .trip-card {
    display: flex;
    width: 22%;
    padding: 20px;
    flex-direction: column;
    height: 100%;
}
.trips .title .title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.trip-card .contents {
    display: flex;
    flex-direction: column;
}
.contents .content.one {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    
}
.content.one .rating {
    padding: 5px;
    background-color: #227950;
    border-radius: 5px;
    color: white;
    margin-right: 2%;
}
.content.one .wonderful{
    margin: 0 0 0 0;
}
.content.two{
    padding: 0;
}
.content.two .sub-title{
    margin: 0;
}
.content.two .title {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    width: 86%;
    margin: 0;
    margin-bottom: 10px;
}
.content.three .title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}
.content.three .sub-title{
    margin: 0;
    width: 50%;
}
/*holidays*/
.holidays{
    display: flex;
    flex-direction: row;
    padding:0 0 0  0;
    justify-content: space-between;
}
.holiday-card{
    height: 100%;
    width: 49%;

}
.holiday-card .image{
    background-image: url(/assets/pexels-olia-danilevich-8562070.jpg);
    height: 300px;
    background-size: cover;
    border-radius: 5px;
}
.holiday-card .content .title{
    font-weight: normal;
}
.holiday-card .holiday-content .sub-title{
    font-size: 10px;
}
/* find accommodation section */

.accommodation-features{
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    border: 1px solid #555353;
    padding: 20px ;
    margin-top: 5%;
    margin-bottom: 3%;
}
.accommodation-features .text{
    width: 30%;
}
.accommodation-features .features{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    column-width: 200px;
}

.feature{
    background-image: url(/assets/pexels-olia-danilevich-8562070.jpg);
    min-width:200px;
    padding-top: 19%;
    background-size: cover;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    margin-left: 50px;
}
.accommodation-features .text .title{
    font-size: 30px;
    font-weight: bold;
}
/*rent section */
.rent{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-radius: 12px;
    padding: 80px 0;
    padding-left: 0px;
    align-items: center;
    background-image: url(/assets/pexels-olia-danilevich-8562070.jpg);
    background-size: cover;
    background-position: center;
}
.rent .register{
    margin-left: 40px;
    width: 30%;
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.rent .register .text{
    margin-bottom: 10px;
}
.rent .register .title{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.register .button a{
    padding: 10px;
    text-decoration: none;
    background-color: #006ED6;
    border-radius: 12px;
    color: white;
}
.register .button{
    margin-bottom: 5%;
}